{% form_theme optionForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block option_form %}
    {{ form_start(optionForm) }}
    <div class="card">
        <h3 class="card-header">
            <i class="material-icons">edit</i>
            {{ 'Update option'|trans({}, 'Modules.Pixelsucuri.Admin') }}
        </h3>
        <div class="card-body card-block row">
            <div class="form-wrapper card-text">
                {{ form_widget(optionForm) }}
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ path('admin_sucuri_settings') }}" class="btn btn-outline-secondary">
                {{ 'Back'|trans({}, 'Admin.Actions') }}
            </a>
            <button class="btn btn-primary float-right" id="save-button">
                {{ 'Save'|trans({}, 'Admin.Actions') }}
            </button>
        </div>
    </div>
    {{ form_end(optionForm) }}
{% endblock %}
